@function n($a){
    @return $a/46.875+rem;
}
body{
    display: flex;
    flex-direction: column;
    .main{
        flex: 1;
        position: relative;
        -webkit-overflow-scrolling: touch;
    }
}
.available,.notAvailable{
    padding: 0 n(30);
    &>h1{
        color: #333333;
        font-size: n(32);
        font-weight: bold;
        line-height: n(97);
    }
}
.availableList{
    width:n(690);
    height: n(240);
    background-image: url(../imgs/couponBg.png);
    background-size: 100% 100%;
    display: flex;
    dl{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    dt{
        text-align: center;
        padding-left: n(6);
        img{
            width: n(105);
            border-radius: 50%;
            border: n(2) solid #CECECE;
        }
    }
    dd{
        color: #fff;
        background-color: #FE7549;
        width: n(105);
        line-height: n(33);
        font-size: n(22);
        text-align: center;
        margin-top: n(17);
    }
    .couponMsg{
        flex:3;
        padding-top: n(33);
        padding-left: n(22);
        h1{
            color: #333333;
            font-size: n(32);
            line-height: n(70);
            b{
                color: #FFA42E;
                font-size: n(28);
                float: right;
                margin-right: n(50);
                font-weight: 400;
            }
        }
        p{
            color: #B0B0B0;
            font-size: n(26);
            line-height: n(42);
        }
    }
}
.notAvailable dd{
    background-color: #B0B0B0;
}
.available .availableList{
    margin-bottom: n(31);
}

.thisCoupon{
    display: inline-block;
    width: n(33);
    height: n(33);
    border-radius: 50%;
    border: n(3) solid #D9D9D9;
    box-sizing: border-box; 
    transform: translateY(n(5));
    margin-left: n(10);
}
.confirmCoupon{
    height: n(98);
    display: flex;
    .couponMsg{
        flex: 1;
        align-items: center;
        border-top: n(2) solid #EEEEEE;
        font-size: n(28);
        color: #333333;
        padding-left: n(31);
        line-height: n(98);
    }
    button{
        width: n(266);
        height: n(98);
        color: #fff;
        font-size: n(32);
        background-color: #FFA42E;
    }
}
.confirmThis{
    display: inline-block;
    width: n(33);
    height: n(33);
    background-image: url('../imgs/confirmThis.png');
    background-size: 100% 100%;
    border: 0 !important;
}